:host {
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.screen {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
    /* Zwarte achtergrond */
}

.curtain {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    transition: transform 1s ease-in-out, background-color 1.5s ease-in-out;
    z-index: 2;
    transform-origin: bottom center;
    /* Rotatiepunt naar de onderkant van het gordijn */
}

.curtain-left {
    left: 0;
    transform: translateX(0) rotate(0deg);
    /* Start recht */
}

.curtain-right {
    right: 0;
    transform: translateX(0) rotate(0deg);
    /* Start recht */
}

.curtain.open.curtain-left {
    transform: translateX(-95%) rotate(10deg) scaleY(1.1);
    /* Draai naar buiten en vergroot de hoogte */
}

.curtain.open.curtain-right {
    transform: translateX(95%) rotate(-10deg) scaleY(1.1);
    /* Draai naar buiten en vergroot de hoogte */
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.content.show {
    opacity: 1;
}