<div class="screen">
    <div class="curtain curtain-left" [style.background-color]="curtainColor" [class.open]="curtainOpened"></div>
    <div class="curtain curtain-right" [style.background-color]="curtainColor" [class.open]="curtainOpened"></div>
    <div class="content grid" [class.show]="curtainOpened" *ngIf="userProfile">
        <div class="grid nested-grid">
            <!-- Spacing Left -->
            <div class="col-2">
                <div class="text-center p-3 border-round-sm h-full bg-primary font-bold"></div>
            </div>


            <!-- Content Purple  -->
            <div class="col-8" *ngIf="curtainColor === '#5D275D'">
                <div class="grid">
                    <div class="col-12">
                        <app-timer-bar [progress]="(timeRemaining / timerDuration) * 100"></app-timer-bar>
                        <h1 class="titelvakgebied text-center">HCI (Human Computer Interaction)</h1>
                        <h1 class="h1-hci text-center" [@slideInOut]="h1State">{{h1RotationText}}</h1>
                        <div class="container-hci" *ngIf="hciPopup">
                            <div class="popup-hci">
                                <h1>{{userProfile.name}}</h1>
                                <h1>{{userProfile.email}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Red  -->
            <div class="col-8" *ngIf="curtainColor === '#B13E53'">
                <div class="grid">
                    <div class="col-12">
                        <app-timer-bar [progress]="(timeRemaining / timerDuration) * 110"></app-timer-bar>
                        <h1 class="titelvakgebied text-center">Software Engineering</h1>
                        <h1 class="h1-se text-center" [@slideInOut]="h1State">{{ h1RotationText }}</h1>
                    </div>
                    <div class="col-12 flex justify-content-end">
                        <div class="popup-se" *ngIf="typedScriptName">
                            <pre [typewriter]="typedScriptName" [speed]="40" style="white-space: pre-wrap;"></pre>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="popup-se scriptcontent" *ngIf="typedScriptContent">
                            <pre [typewriter]="typedScriptContent" [speed]="10" style="white-space: pre-wrap;"></pre>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Green  -->
            <div class="col-8" *ngIf="curtainColor === '#00BA85'">
                <div class="grid">
                    <div class="col-12">
                        <app-timer-bar [progress]="(timeRemaining / timerDuration) * 100"></app-timer-bar>
                        <h1 class="titelvakgebied text-center">Data Engineering</h1>
                        <h1 class="h1-de text-center" [@slideInOut]="h1State">{{h1RotationText}}
                        </h1>
                    </div>
                </div>
            </div>

            <!-- Content Blue  -->
            <div class="col-8" *ngIf="curtainColor === '#3B5DC9'">
                <div class="grid">
                    <div class="col-12">
                        <app-timer-bar [progress]="(timeRemaining / timerDuration) * 100"></app-timer-bar>
                        <h1 class="titelvakgebied text-center">Security & Cloud</h1>
                        <h1 class="h1-sc text-center" [@slideInOut]="h1State">{{h1RotationText}}</h1>
                        <div *ngIf="showVideo">
                            <video autoplay class="video-player">
                                <source src="../../assets/scVideo.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Yellow-->
            <div class="col-8" *ngIf="curtainColor === '#FFCD75'">
                <div class="grid">
                    <div class="col-12">
                        <app-timer-bar [progress]="(timeRemaining / timerDuration) * 100"></app-timer-bar>
                        <h1 class="h1-end text-center" [@slideInOut]="h1State">{{h1RotationText}}
                        </h1>
                    </div>
                </div>
            </div>

            <!-- Content Ending  -->
            <div class="col-8" *ngIf="curtainColor === '#29366F'">
                <div class="grid">
                    <div class="col-12">
                        <app-timer-bar [progress]="(timeRemaining / timerDuration) * 100"></app-timer-bar>
                        <h1 class="h1-hci text-center" [@slideInOut]="h1State">{{h1RotationText}}</h1>
                    </div>
                </div>
            </div>

            <div class="controls">
                <p>
                    <img src="../../assets/space-button-icon.png" alt="Space Key" class="key-image-space" />
                    Pauzeren/Hervatten van de timer.
                    <!-- </p>
                <p> -->
                    <img src="../../assets/right-arrow-button-icon.png" alt="Right Arrow Key" class="key-image-right" />
                    Volgende element.
                </p>
            </div>

            <!-- Spacing Right  -->
            <div class="col-2">
                <div class="text-center p-3 border-round-sm h-full bg-primary font-bold">
                </div>
            </div>
        </div>
    </div>
</div>
