@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:host {
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    font-family: monospace;
}

.screen {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #1a1c2c;
    overflow: hidden;
}

.curtain {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    transition: transform 1s ease-in-out, background-color 1.5s ease-in-out;
    z-index: 2;
    transform-origin: bottom center;
}

.curtain-left {
    left: 0;
    transform: translateX(0) rotate(0deg);
}

.curtain-right {
    right: 0;
    transform: translateX(0) rotate(0deg);
}

.curtain.open.curtain-left {
    transform: translateX(-95%) rotate(10deg) scaleY(1.5);
}

.curtain.open.curtain-right {
    transform: translateX(95%) rotate(-10deg) scaleY(1.5);
}

.content {
    color: white;
}

.content.show {
    opacity: 1;
}

// Tweaking of width if col-12
.nested-grid {
    width: 100%;
}

// Controls
.controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    // background-color: rgba(0, 0, 0, 0.7);
    background-color: #333C57;
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

.key-image-space {
    vertical-align: middle;
    height: 30px;
    margin-right: 10px;
}

.key-image-right {
    vertical-align: middle;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}


// Styling for each screen
// Pruple HCI
.h1-hci {
    margin-top: 20%;
    font-size: 30px;
}

.popup-hci {
    background-color: #333C57;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    display: inline-block;
}

.container-hci {
    text-align: center;
}


// Red Software Engineering 
.h1-se {
    margin-top: 20%;
    font-size: 30px;
}

.popup-se {
    background-color: #333C57;
    border-radius: 20px;
    // text-align: center;
    padding: 0px 30px 0px 30px;
    margin-top: 20px;
    display: inline-block;
    font-family: monospace;
}

.popup-se.scriptcontent {
    padding: 0px 30px 20px 30px;
}

.container-seScriptname {
    text-align: right;
}

// Green Data Engineering
.h1-de {
    margin-top: 20%;
    font-size: 30px;
}

// Blue Security & Cloud
.video-player {
    position: relative;
    right: 20px;
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    border-style: solid;
    border-width: 50px;
    border-color: #171b27;
    box-shadow: 0px 0px 100px 100px #171b27;
    //border-image: radial-gradient(from center, red 0%, green 100%) 1;
    //border: 5px solid red;
}