:host {
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.screen {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.curtain {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    transition: transform 1s ease-in-out, background-color 1.5s ease-in-out;
    z-index: 2;
    transform-origin: bottom center;
}

.curtain-left {
    left: 0;
    transform: translateX(0) rotate(0deg);
}

.curtain-right {
    right: 0;
    transform: translateX(0) rotate(0deg);
}

.curtain.open.curtain-left {
    transform: translateX(-95%) rotate(10deg) scaleY(1.5);
}

.curtain.open.curtain-right {
    transform: translateX(95%) rotate(-10deg) scaleY(1.5);
}

.content {
    // position: absolute;
    // padding-left: 15%;
    // padding-right: 15%;
    // justify-content: center;
    // align-items: center;
    // color: white;
    // z-index: 1;
    // opacity: 0;
    // transition: opacity 1s ease-in-out;

    // height: 100%;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;
    // color: white;
    // z-index: 1;
    // opacity: 0;
    // transition: opacity 1s ease-in-out;
    // gap: 1rem;

    color: white;

}

.content.show {
    opacity: 1;
}


// Tweaken van de breedte als er een col-12 div is toegepast
.nested-grid {
    width: 100%;
}

// Styling per scherm
.h1-hci {
    margin-top: 20%;
    font-size: 50px;
}

.h1-se {
    margin-top: 20%;
    font-size: 100px;
}