<p>home works!</p>
<a routerLink="/replay">Ga naar replay -></a>

<div class="grid nested-grid">
    <div class="col-2">
        <div class="text-center p-3 border-round-sm h-full bg-primary font-bold">Links</div>
    </div>
    <div class="col-8">
        <div class="grid">
            <div class="col-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis turpis eget leo tincidunt
                    suscipit et at dolor. Duis convallis, risus at efficitur rutrum, dolor ex vehicula eros, sed dapibus
                    eros tellus ac lacus. Praesent augue neque, viverra et lorem eget, rutrum tincidunt ante. Morbi
                    vitae quam libero. Curabitur sed tellus sit amet tortor vehicula condimentum a sed nisl. Duis at
                    lacinia tortor. Donec tempus nulla et ante ornare condimentum. Ut enim justo, sagittis vitae
                    convallis quis, egestas sit amet quam. Nunc vitae faucibus tellus. Donec malesuada eros sit amet
                    blandit tristique. Integer fermentum orci nec risus placerat lobortis vitae ut turpis. Suspendisse
                    non euismod felis. Nulla facilisi. Nunc rhoncus arcu id gravida molestie. Phasellus nibh nulla,
                    condimentum id augue nec, faucibus lobortis dolor.</p>
            </div>
            <div class="col-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis turpis eget leo tincidunt
                    suscipit et at dolor. Duis convallis, risus at efficitur rutrum, dolor ex vehicula eros, sed dapibus
                    eros tellus ac lacus. Praesent augue neque, viverra et lorem eget, rutrum tincidunt ante. Morbi
                    vitae quam libero. Curabitur sed tellus sit amet tortor vehicula condimentum a sed nisl. Duis at
                    lacinia tortor. Donec tempus nulla et ante ornare condimentum. Ut enim justo, sagittis vitae
                    convallis quis, egestas sit amet quam. Nunc vitae faucibus tellus. Donec malesuada eros sit amet
                    blandit tristique. Integer fermentum orci nec risus placerat lobortis vitae ut turpis. Suspendisse
                    non euismod felis. Nulla facilisi. Nunc rhoncus arcu id gravida molestie. Phasellus nibh nulla,
                    condimentum id augue nec, faucibus lobortis dolor.</p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="text-center p-3 border-round-sm h-full bg-primary font-bold">Rechts</div>
    </div>

</div>