<p>home works!</p>
<a routerLink="/replay">Ga naar replay -></a>
<button>HHH</button>


<div class="grid">
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">2</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">3</div>
    </div>
</div>
<div class="grid">
    <div class="col-3 p-3 border-round-sm bg-primary font-bold"> HI sdghjf ksdhgf dsgfihsdg fidhsgf idsgfiyhg sdyfgds
        fydshg fuhgydsfHI sdghjf ksdhgf dsgfihsdg fidhsgf idsgfiyhg sdyfgds fydshg fuhgydsfHI sdghjf ksdhgf dsgfihsdg
        fidhsgf idsgfiyhg sdyfgds fydshg fuhgydsfHI sdghjf ksdhgf dsgfihsdg fidhsgf idsgfiyhg sdyfgds fydshg fuhgydsfHI
        sdghjf ksdhgf dsgfihsdg fidhsgf idsgfiyhg sdyfgds fydshg fuhgydsfHI sdghjf ksdhgf dsgfihsdg fidhsgf idsgfiyhg
        sdyfgds fydshg fuhgydsfHI sdghjf ksdhgf dsgfihsdg fidhsgf idsgfiyhg sdyfgds fydshg fuhgydsfHI sdghjf ksdhgf
        dsgfihsdg fidhsgf idsgfiyhg sdyfgds fydshg fuhgydsfHI sdghjf ksdhgf dsgfihsdg fidhsgf idsgfiyhg sdyfgds fydshg
        fuhgydsfHI sdghjf ksdhgf dsgfihsdg fidhsgf idsgfiyhg sdyfgds fydshg fuhgydsfHI sdghjf ksdhgf dsgfihsdg fidhsgf
        idsgfiyhg sdyfgds fydshg fuhgydsfHI sdghjf ksdhgf dsgfihsdg fidhsgf idsgfiyhg sdyfgds fydshg fuhgydsfHI sdghjf
        ksdhgf dsgfihsdg fidhsgf idsgfiyhg sdyfgds fydshg fuhgydsfHI sdghjf ksdhgf dsgfihsdg fidhsgf idsgfiyhg sdyfgds
        fydshg fuhgydsfHI sdghjf ksdhgf dsgfihsdg fidhsgf idsgfiyhg sdyfgds fydshg fuhgydsfHI sdghjf ksdhgf dsgfihsdg
        fidhsgf idsgfiyhg sdyfgds fydshg fuhgydsfHI sdghjf ksdhgf dsgfihsdg fidhsgf idsgfiyhg sdyfgds fydshg fuhgydsfHI
        sdghjf ksdhgf dsgfihsdg fidhsgf idsgfiyhg sdyfgds fydshg fuhgydsf
    </div>
    <div class="col-4 p-3 border-round-sm bg-primary font-bold"> BYE
    </div>
    <div class="col-5 p-3 border-round-sm bg-primary font-bold"> CIAO
    </div>
</div>