<div class="grid" *ngIf="!showOverlay">
    <div class="col-2">
    </div>
    <div class="col-8">
        <div *ngIf="isLoading">Loading profiles...</div>
        <div *ngIf="error">{{ error }}</div>

        <div *ngIf="!isLoading && userProfiles.length">
            <div class="profile-card" *ngFor="let profile of userProfiles; let i = index">
                <h2>{{ profile.name }} <i (click)="openOverlay(profile, i)" class="pi pi-play"
                        style="font-size: 1rem; cursor: pointer;"></i></h2>
                <h2>#{{i}}</h2>
                <p>#{{profile.id}}</p>
                <p>LinkedIn: {{profile.linkedIn?.length}}</p>
                <p>Facebook: {{profile.facebookData?.length}}</p>
                <p>QR: {{profile.qrScanned}}</p>
                <p>Status: {{ profile.status }}</p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <i class="pi pi-sync" style="font-size: 2rem; cursor: pointer;" (click)="fetchData()"></i>
    </div>
</div>

<div class="overlay" *ngIf="showOverlay">
    <div class="overlay-content">
        <h1>Replay voor #{{ selectedIndex }}</h1>
        <p>Beste bezoeker, hierna volgt de Replay.</p>
        <p>De Replay is een korte presentatie over de vakgebieden binnen het ICT
            domein. U kunt de timer van de presentatie met de spatiebalk pauzeren/hervatten en met de rechter pijltoets
            kunt u naar het volgende element.</p>
        <button (click)="startReplay(selectedProfile?.id)">Start Replay</button>
        <button (click)="closeOverlay()">Annuleren</button>
    </div>
</div>